<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">
            Item 1
        </h2>
            <svg class="icon icon--headings collapsible--chevron">
                <use xlink:href="Images/sprite.svg#chevron"></use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nesciunt tempore velit molestiae tempora sed corporis veritatis quas vitae consequatur.
    </div>
</div>
<script src="js/main.js"></script>
